.name,
.offset {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mainContainer {
  width: 550px;
}

.formContainer {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.btn {
  height: 30px;
  align-self: flex-end;
}

.clocks {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.watch {
  display: flex;
}

.cross {
  width: 20px;
  height: 20px;
}
